body, html {
    height: 100%;
    font-family: 'Bebas Neue', sans-serif;
}

h1{
    font-size: 200px;
    
}
p {
    font-size: 300%;
}

.parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./imgs/meric-dagli-VbLsByQrhz4-unsplash.jpg);

    height: 300%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*position: relative;*/

}

.textbox {
    text-align: center;
    color: white;
    position: relative;
    width: 60%;
    margin:auto;
    margin-top: -10%;
    padding-top: 20%;
}
.textbox p {
    padding-bottom: 10%;
}
.nav {
    display: block;
    
    width: 100%;
    margin-left: auto;
    overflow: auto;
    background-color: darkslategray;
    margin-top: 0px;
    margin-bottom: 10%;
}
a {
    
    text-decoration: none;
    color: white;
    
}
a:hover {
    color: gray;
}
.nav-item {
    flex-grow: 1;
    text-align: center;
    font-size: 100px;
    background-color: darkslategray;
    float: left;
    transition: all 0.3s ease;
    margin-left: auto;
    
    width: 33%;
    
    
    
}
.nav-item:hover{
    background-color: peachpuff;
}
.b-text {
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(245, 245, 220, 0.5);
    text-align: left;
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;

}
.b-text h1 {
    font-size: 300%;
    text-align: center;
}
.b-text p {
    font-size: 150%;
    
}
footer {
    position: absolute;
    font-size: 200%;
}
footer a {
    color: black;
    text-decoration: underline;
}
.palworld-img{
    width: 50%;
    margin-left: 25%;
}
@media screen and (max-width: 500px) {
    .nav {
      float: none;
      display: block;
      text-align: left;
    }
    .nav-item {
        float: none;
        font-size: 50px;
    }
}