html{
    background-color:slategray;
    font-family: 'Calibri', sans-serif;
}
h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Protest Strike', sans-serif;
}
.goliath{
    width:100px;
}